@model IEnumerable<BookList.Models.Books>

<head>
    <title>Virtual Book Store | Books</title>
</head>

<h1>Virtual Book Store</h1>
<h3>Books</h3>
@{
    int c = 0;
}

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subcategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)&nbsp;($)
                </th>    
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.BookName != null)
                {
                    c = c + 1;
                }
                <tr>
                    <td>
                        @Html.ActionLink(item.BookName, "GetBookbyName", "Books", new { name = item.BookName }, new { @class = "link" })

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subcategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>


                </tr>
            }
        </tbody>


    </table>


}
@if (c == 0)
{
    <h1>No Books Available</h1>

}
<div id="i1">
    <a class="myactionlink" asp-action="AddBook">New Book</a> |
    @Html.ActionLink("Delisted Books", "Delisted", "Books",null, new { @class = "link"})
</div>

